@import url('https://fonts.cdnfonts.com/css/lemonmilk');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #000000;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.lemonmilk{
    font-family: 'Lemon/Milk', sans-serif;
}

.rightples {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
  margin-right: 0;
  float: right;
}

.leftples {
  display: flex;
  justify-content: flex-start;
  margin-left: 0;
  margin-right: auto;
  float: left;
}

.topples {
  display: flex;
  justify-content: flex-start;
  margin-top: 0;
  float: top;
}

.poppins{
  font-family: 'Poppins', sans-serif;
}



